 
<div>
	<nav>
		<ul class = "filter">
			<a class="active" href="#" alt ="SICNET"><img class = "logonavbar" src="assets/web_images/SICNETLoGo.png"><img class = "logodotsnavbar" src="assets/web_images/Logos/LogoDotsLeft.png"></a>
			<li><a href="#">Contacto</a></li>
			<li><a href="#">Acerca de</a></li>
			<li>
				<div class = "dropdown">
					<button class="dropbtn">Servicios</button>
					<div class = "dropdown-content">
						<a href="#">opt 1</a>
						<a href="#">opt 2</a>
						<a href="#">opt 3</a>
					</div>
				</div>
			</li>
			<li>
				<div class="dropdown">
					<button class="dropbtn">Industrias</button>
					<div class = "dropdown-content">
						<a href="#">Automotriz</a>
						<a href="#">Energética</a>
						<a href="#">Hogares inteligentes</a>
						<a href="#">Metalúrgico</a>
						<a href="#">Oil & gas</a>
						<a href="#">Textil</a>
					</div>
				</div>
			</li>
	  	</ul>
	</nav>
</div>
